*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:100vh;
    border:1px solid red;
}
.formContainer{
    width:100%;
    height:30%;
    border:1px solid;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.formContainer button{
    margin:20px;
    padding:10px 50px;
    background-color:rgb(82,169,219);
    color:white;
    border:none;
    align-items:center;
}
.formRow{
     width:70%;
     margin-top:10px;
     display:flex;
     justify-content:space-between;
     

}
.formRow input{
    width: 60%;
    padding: 4px 10px;
}
.searchContainer{
    width: 100%;
    height: 10%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContainer input{
    width:50%;
    padding:5px 20px;
    border:none;
}
.contentContainer{
    width: 100%;
    height: 70%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.content{
    width: 50%;
    border: 1px solid;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}